.topping {
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.topping--selected {
  background-color: greenyellow;
  transform: scale(1.1);  
}
body {
  background-color: #f0f0f0;  
}


header, #toppings-container {
  text-align: center;
  width: 100%;
}
